body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.stars {
  z-index: -10;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 846px 1437px #767676, 305px 390px #767676, 1565px 633px #767676,
    157px 1378px #767676, 1067px 490px #767676, 587px 654px #767676,
    877px 1238px #767676, 1296px 449px #767676, 1376px 684px #767676,
    381px 1499px #767676, 249px 1203px #767676, 538px 1683px #767676,
    87px 417px #767676, 1111px 1559px #767676, 811px 1231px #767676,
    35px 350px #767676, 797px 273px #767676, 1202px 1095px #767676,
    1118px 623px #767676, 829px 691px #767676, 700px 1373px #767676,
    1665px 180px #767676, 1540px 541px #767676, 252px 977px #767676,
    2px 510px #767676, 352px 1988px #767676, 83px 1768px #767676,
    788px 1072px #767676, 1533px 515px #767676, 733px 1002px #767676,
    1613px 1120px #767676, 1999px 1492px #767676, 1249px 7px #767676,
    815px 1848px #767676, 593px 184px #767676, 1896px 399px #767676,
    1815px 449px #767676, 645px 313px #767676, 1256px 67px #767676,
    574px 1314px #767676, 169px 1067px #767676, 685px 750px #767676,
    1633px 1298px #767676, 1402px 177px #767676, 1468px 1395px #767676,
    1576px 617px #767676, 115px 1352px #767676, 1121px 1800px #767676,
    890px 1244px #767676, 22px 1116px #767676, 87px 37px #767676,
    439px 1947px #767676, 1646px 606px #767676, 1136px 1837px #767676,
    586px 1838px #767676, 1711px 1751px #767676, 655px 1174px #767676,
    1124px 1235px #767676, 183px 169px #767676, 206px 1423px #767676,
    774px 1010px #767676, 563px 290px #767676, 59px 1055px #767676,
    797px 923px #767676, 292px 90px #767676, 1144px 2px #767676,
    1901px 1049px #767676, 477px 1073px #767676, 831px 102px #767676,
    351px 1261px #767676, 59px 835px #767676, 1771px 646px #767676,
    1890px 584px #767676, 341px 1301px #767676, 1390px 278px #767676,
    1570px 971px #767676, 68px 1100px #767676, 1060px 504px #767676,
    1104px 370px #767676, 515px 1285px #767676, 887px 1702px #767676,
    971px 1885px #767676, 1265px 1262px #767676, 72px 1831px #767676,
    1695px 62px #767676, 361px 751px #767676, 26px 104px #767676,
    527px 404px #767676, 458px 143px #767676, 1511px 768px #767676,
    662px 654px #767676, 311px 1520px #767676, 90px 851px #767676,
    501px 871px #767676, 30px 293px #767676, 1408px 275px #767676,
    1758px 753px #767676, 960px 358px #767676, 505px 1681px #767676,
    1494px 363px #767676, 763px 626px #767676, 1796px 1538px #767676,
    737px 93px #767676, 79px 1098px #767676, 1450px 120px #767676,
    1560px 690px #767676, 262px 1586px #767676, 950px 856px #767676,
    15px 1394px #767676, 305px 923px #767676, 1165px 915px #767676,
    595px 1594px #767676, 637px 629px #767676, 1214px 809px #767676,
    1460px 1653px #767676, 1959px 666px #767676, 1046px 685px #767676,
    1610px 1587px #767676, 1522px 1540px #767676, 902px 778px #767676,
    871px 951px #767676, 1017px 786px #767676, 694px 1788px #767676,
    958px 1025px #767676, 831px 1316px #767676, 1677px 1445px #767676,
    1877px 22px #767676, 291px 1200px #767676, 1265px 989px #767676,
    689px 1281px #767676, 1290px 330px #767676, 1595px 1466px #767676,
    760px 1857px #767676, 1510px 1841px #767676, 867px 1860px #767676,
    1758px 997px #767676, 594px 1439px #767676, 1331px 1922px #767676,
    1718px 8px #767676, 605px 1885px #767676, 1242px 1744px #767676,
    1860px 963px #767676, 667px 239px #767676, 248px 150px #767676,
    1771px 897px #767676, 410px 476px #767676, 1806px 378px #767676,
    1177px 480px #767676, 306px 1218px #767676, 1711px 1987px #767676,
    438px 265px #767676, 1031px 1585px #767676, 910px 1389px #767676,
    1927px 146px #767676, 1097px 1555px #767676, 1856px 417px #767676,
    195px 923px #767676, 1373px 589px #767676, 762px 112px #767676,
    1020px 1387px #767676, 1531px 862px #767676, 1124px 1686px #767676,
    835px 755px #767676, 1241px 1289px #767676, 819px 133px #767676,
    609px 567px #767676, 5px 1403px #767676, 1219px 952px #767676,
    995px 796px #767676, 832px 1297px #767676, 1269px 1419px #767676,
    387px 89px #767676, 978px 1394px #767676, 170px 165px #767676,
    806px 64px #767676, 1719px 1246px #767676, 346px 206px #767676,
    478px 943px #767676, 18px 153px #767676, 1264px 744px #767676,
    1940px 18px #767676, 1494px 260px #767676, 814px 1615px #767676,
    665px 353px #767676, 908px 1139px #767676, 70px 1734px #767676,
    930px 1998px #767676, 1770px 489px #767676, 1429px 280px #767676,
    476px 1611px #767676, 1359px 524px #767676, 1058px 329px #767676,
    1073px 287px #767676, 590px 1096px #767676, 830px 1028px #767676,
    1425px 744px #767676, 893px 1796px #767676, 1792px 862px #767676,
    1631px 166px #767676, 1673px 622px #767676, 614px 475px #767676,
    515px 1381px #767676, 1991px 1541px #767676, 851px 1819px #767676,
    1317px 1773px #767676, 1942px 534px #767676, 1774px 164px #767676,
    1240px 1035px #767676, 1496px 375px #767676, 1960px 113px #767676,
    809px 1829px #767676, 1069px 1686px #767676, 910px 64px #767676,
    917px 1742px #767676, 908px 1514px #767676, 1875px 1169px #767676,
    1660px 1860px #767676, 1933px 1361px #767676, 1659px 56px #767676,
    1464px 1733px #767676, 1288px 324px #767676, 1558px 174px #767676,
    424px 256px #767676, 652px 1392px #767676, 1381px 1658px #767676,
    76px 1793px #767676, 306px 1180px #767676, 1934px 1124px #767676,
    763px 216px #767676, 1422px 251px #767676, 1527px 2px #767676,
    1155px 267px #767676, 447px 606px #767676, 740px 1280px #767676,
    1274px 442px #767676, 1410px 1923px #767676, 1837px 600px #767676,
    1532px 1595px #767676, 78px 941px #767676, 573px 1486px #767676,
    1614px 1123px #767676, 204px 1733px #767676, 1689px 1612px #767676,
    1999px 1480px #767676, 1427px 495px #767676, 341px 248px #767676,
    1718px 428px #767676, 62px 1657px #767676, 217px 1157px #767676,
    430px 409px #767676, 565px 1544px #767676, 1935px 1776px #767676,
    1171px 986px #767676, 788px 199px #767676, 645px 1845px #767676,
    490px 1385px #767676, 965px 42px #767676, 1703px 974px #767676,
    220px 583px #767676, 134px 631px #767676, 1014px 1626px #767676,
    1100px 1392px #767676, 1903px 1869px #767676, 1255px 1483px #767676,
    1308px 830px #767676, 733px 999px #767676, 81px 968px #767676,
    1486px 863px #767676, 218px 703px #767676, 1766px 689px #767676,
    1839px 1232px #767676, 1685px 275px #767676, 1861px 184px #767676,
    1613px 1780px #767676, 1909px 1243px #767676, 87px 179px #767676,
    1718px 1218px #767676, 62px 434px #767676, 1031px 1178px #767676,
    19px 1594px #767676, 865px 982px #767676, 1268px 1617px #767676,
    1544px 1795px #767676, 1353px 1402px #767676, 1340px 461px #767676,
    1321px 1236px #767676, 1124px 767px #767676, 304px 1946px #767676,
    1948px 354px #767676, 1163px 1548px #767676, 927px 814px #767676,
    991px 1378px #767676, 221px 281px #767676, 1603px 1816px #767676,
    596px 1180px #767676, 1535px 1924px #767676, 1182px 252px #767676,
    1395px 488px #767676, 324px 1066px #767676, 1586px 702px #767676,
    180px 76px #767676, 1201px 519px #767676, 293px 195px #767676,
    1179px 1587px #767676, 772px 627px #767676, 1290px 1335px #767676,
    1847px 1674px #767676, 1748px 785px #767676, 1696px 81px #767676,
    987px 591px #767676, 668px 516px #767676, 863px 1802px #767676,
    940px 1867px #767676, 1381px 811px #767676, 305px 1758px #767676,
    1288px 20px #767676, 625px 1141px #767676, 1230px 54px #767676,
    624px 348px #767676, 859px 1703px #767676, 644px 733px #767676,
    1116px 957px #767676, 646px 1597px #767676, 760px 1965px #767676,
    1901px 1672px #767676, 1273px 709px #767676, 53px 637px #767676,
    688px 197px #767676, 1110px 1988px #767676, 642px 28px #767676,
    1521px 627px #767676, 509px 1900px #767676, 568px 411px #767676,
    319px 1069px #767676, 80px 1973px #767676, 580px 262px #767676,
    795px 1498px #767676, 1887px 550px #767676, 1343px 760px #767676,
    1690px 920px #767676, 773px 395px #767676, 1877px 603px #767676,
    322px 1642px #767676, 1784px 1675px #767676, 64px 1246px #767676,
    734px 1690px #767676, 998px 595px #767676, 657px 1126px #767676,
    1269px 408px #767676, 182px 431px #767676, 127px 718px #767676,
    145px 274px #767676, 43px 209px #767676, 1514px 1487px #767676,
    1354px 1254px #767676, 1026px 563px #767676, 1180px 1833px #767676,
    50px 1611px #767676, 815px 182px #767676, 581px 1617px #767676,
    1702px 342px #767676, 734px 750px #767676, 40px 1080px #767676,
    1042px 1539px #767676, 425px 265px #767676, 105px 421px #767676,
    993px 1140px #767676, 527px 1622px #767676, 1588px 223px #767676,
    1114px 1366px #767676, 1407px 1089px #767676, 1284px 782px #767676,
    253px 571px #767676, 1233px 85px #767676, 178px 259px #767676,
    1832px 1203px #767676, 1690px 878px #767676, 255px 99px #767676,
    1206px 1738px #767676, 1389px 834px #767676, 1828px 375px #767676,
    1134px 1713px #767676, 385px 219px #767676, 1825px 1542px #767676,
    70px 993px #767676, 1266px 770px #767676, 92px 176px #767676,
    69px 919px #767676, 1147px 241px #767676, 1713px 1696px #767676,
    789px 53px #767676, 225px 801px #767676, 1551px 66px #767676,
    1123px 1259px #767676, 308px 1492px #767676, 1453px 1327px #767676,
    535px 1564px #767676, 217px 1064px #767676, 473px 1356px #767676,
    1156px 1693px #767676, 7px 1680px #767676, 1163px 1543px #767676,
    1878px 321px #767676, 1815px 828px #767676, 1429px 1115px #767676,
    1800px 897px #767676, 932px 510px #767676, 827px 1387px #767676,
    1846px 298px #767676, 1272px 365px #767676, 680px 236px #767676,
    749px 851px #767676, 1345px 658px #767676, 536px 1081px #767676,
    588px 1567px #767676, 542px 64px #767676, 1639px 1948px #767676,
    1607px 1376px #767676, 48px 1433px #767676, 305px 681px #767676,
    1762px 741px #767676, 349px 1730px #767676, 1547px 931px #767676,
    1653px 400px #767676, 517px 84px #767676, 757px 1291px #767676,
    392px 1419px #767676, 222px 1156px #767676, 1632px 1564px #767676,
    1340px 513px #767676, 191px 452px #767676, 897px 5px #767676,
    1239px 1110px #767676, 76px 1541px #767676, 614px 365px #767676,
    485px 1597px #767676, 1116px 1426px #767676, 1544px 752px #767676,
    1582px 67px #767676, 402px 626px #767676, 319px 1948px #767676,
    1082px 429px #767676, 955px 1901px #767676, 690px 1272px #767676,
    479px 1574px #767676, 648px 353px #767676, 23px 544px #767676,
    1405px 233px #767676, 370px 1319px #767676, 846px 573px #767676,
    1482px 801px #767676, 1965px 1806px #767676, 1253px 1324px #767676,
    442px 1255px #767676, 532px 1478px #767676, 14px 1403px #767676,
    605px 1620px #767676, 785px 948px #767676, 1718px 1659px #767676,
    235px 1565px #767676, 135px 643px #767676, 1709px 1565px #767676,
    147px 1542px #767676, 174px 1812px #767676, 165px 1312px #767676,
    1510px 427px #767676, 1502px 837px #767676, 730px 1620px #767676,
    1118px 806px #767676, 196px 1385px #767676, 87px 535px #767676,
    122px 542px #767676, 1786px 412px #767676, 229px 1720px #767676,
    1031px 166px #767676, 827px 991px #767676, 146px 1124px #767676,
    1506px 515px #767676, 374px 727px #767676, 1179px 99px #767676,
    1564px 824px #767676, 327px 740px #767676, 766px 1145px #767676,
    911px 668px #767676, 993px 150px #767676, 1475px 1994px #767676,
    280px 940px #767676, 1832px 338px #767676, 221px 1836px #767676,
    123px 1073px #767676, 1220px 514px #767676, 1497px 1028px #767676,
    965px 587px #767676, 424px 532px #767676, 1022px 314px #767676,
    1762px 262px #767676, 11px 1914px #767676, 436px 1489px #767676,
    1539px 758px #767676, 685px 1611px #767676, 193px 281px #767676,
    93px 1258px #767676, 872px 1113px #767676, 1770px 1014px #767676,
    840px 1781px #767676, 1211px 1788px #767676, 822px 688px #767676,
    1578px 495px #767676, 787px 1734px #767676, 1896px 1056px #767676,
    504px 1782px #767676, 1098px 1077px #767676, 1536px 229px #767676,
    62px 1139px #767676, 208px 818px #767676, 542px 1587px #767676,
    1142px 161px #767676, 1113px 1697px #767676, 613px 1572px #767676,
    1925px 952px #767676, 623px 940px #767676, 473px 1568px #767676,
    1442px 1025px #767676, 1681px 1863px #767676, 102px 799px #767676,
    1718px 68px #767676, 415px 1261px #767676, 1780px 572px #767676,
    1361px 1268px #767676, 1979px 302px #767676, 1439px 720px #767676,
    1608px 544px #767676, 1192px 517px #767676, 108px 1168px #767676,
    968px 1279px #767676, 1052px 875px #767676, 1657px 1468px #767676,
    1378px 508px #767676, 868px 912px #767676, 1291px 1179px #767676,
    1859px 243px #767676, 1127px 1201px #767676, 1141px 857px #767676,
    847px 1066px #767676, 1476px 1088px #767676, 1393px 1979px #767676,
    1806px 1458px #767676, 1521px 99px #767676, 1906px 1285px #767676,
    802px 1267px #767676, 1419px 1518px #767676, 1761px 1648px #767676,
    458px 1251px #767676, 173px 110px #767676, 1421px 307px #767676,
    1828px 643px #767676, 222px 67px #767676, 985px 755px #767676,
    1906px 143px #767676, 1659px 859px #767676, 1349px 222px #767676,
    883px 976px #767676, 244px 711px #767676, 1271px 520px #767676,
    992px 604px #767676, 1672px 287px #767676, 1685px 1254px #767676,
    99px 1600px #767676, 387px 847px #767676, 737px 439px #767676,
    321px 1140px #767676, 837px 1527px #767676, 1174px 73px #767676,
    509px 248px #767676, 952px 103px #767676, 1559px 1462px #767676,
    1907px 1239px #767676, 1898px 1402px #767676, 1123px 305px #767676,
    805px 670px #767676, 1888px 1275px #767676, 1684px 270px #767676,
    744px 112px #767676, 409px 1967px #767676, 1072px 1158px #767676,
    17px 472px #767676, 1307px 390px #767676, 1407px 953px #767676,
    155px 748px #767676, 1039px 1288px #767676, 215px 1484px #767676,
    1837px 1565px #767676, 96px 1657px #767676, 274px 637px #767676,
    1155px 48px #767676, 1000px 1894px #767676, 809px 285px #767676,
    440px 706px #767676, 1926px 435px #767676, 1105px 177px #767676,
    1143px 1482px #767676, 122px 584px #767676, 997px 1753px #767676,
    1454px 134px #767676, 507px 99px #767676, 671px 1198px #767676,
    374px 422px #767676, 1589px 835px #767676, 74px 909px #767676,
    862px 1674px #767676, 892px 1112px #767676, 208px 1610px #767676,
    776px 255px #767676, 1138px 1453px #767676, 359px 1528px #767676,
    1985px 868px #767676, 802px 1409px #767676, 1224px 856px #767676,
    636px 691px #767676, 1402px 689px #767676, 935px 627px #767676,
    1076px 848px #767676, 1164px 1725px #767676, 876px 485px #767676,
    437px 30px #767676, 909px 897px #767676, 145px 1970px #767676,
    1458px 1996px #767676, 961px 1595px #767676, 144px 382px #767676,
    1026px 1350px #767676, 1616px 1412px #767676, 1949px 26px #767676,
    1861px 23px #767676, 1052px 1663px #767676, 736px 1767px #767676,
    1636px 196px #767676, 1500px 1973px #767676, 698px 1383px #767676,
    1380px 1449px #767676, 1439px 1045px #767676, 1900px 1247px #767676,
    1468px 1349px #767676, 330px 1838px #767676, 1394px 1480px #767676,
    1435px 446px #767676, 1751px 16px #767676, 1137px 849px #767676,
    1101px 744px #767676, 552px 1790px #767676, 1071px 1549px #767676,
    999px 436px #767676, 1257px 208px #767676, 772px 1697px #767676,
    79px 1723px #767676, 452px 1772px #767676, 1505px 1361px #767676,
    1953px 1945px #767676, 850px 1654px #767676, 422px 1233px #767676,
    1913px 1130px #767676, 817px 820px #767676, 1174px 1096px #767676,
    877px 1180px #767676, 1355px 1775px #767676, 718px 788px #767676,
    709px 636px #767676, 20px 291px #767676, 1558px 425px #767676,
    1649px 493px #767676, 405px 1190px #767676, 1880px 941px #767676,
    481px 656px #767676, 1060px 1697px #767676, 1910px 1121px #767676,
    1017px 491px #767676, 243px 809px #767676, 1117px 1980px #767676,
    352px 1895px #767676, 1503px 1500px #767676, 496px 830px #767676,
    93px 1008px #767676, 1056px 1675px #767676, 541px 1944px #767676,
    306px 554px #767676, 1687px 1682px #767676, 502px 1654px #767676,
    222px 1913px #767676, 765px 1071px #767676, 900px 984px #767676,
    275px 1731px #767676, 1943px 517px #767676, 152px 234px #767676,
    1753px 1274px #767676, 1832px 782px #767676, 212px 917px #767676,
    1557px 432px #767676, 433px 1772px #767676, 713px 1044px #767676,
    594px 1981px #767676;
  animation: starsAnimation 50s linear infinite;
}

.stars > .small:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 846px 1437px #767676, 305px 390px #767676, 1565px 633px #767676,
    157px 1378px #767676, 1067px 490px #767676, 587px 654px #767676,
    877px 1238px #767676, 1296px 449px #767676, 1376px 684px #767676,
    381px 1499px #767676, 249px 1203px #767676, 538px 1683px #767676,
    87px 417px #767676, 1111px 1559px #767676, 811px 1231px #767676,
    35px 350px #767676, 797px 273px #767676, 1202px 1095px #767676,
    1118px 623px #767676, 829px 691px #767676, 700px 1373px #767676,
    1665px 180px #767676, 1540px 541px #767676, 252px 977px #767676,
    2px 510px #767676, 352px 1988px #767676, 83px 1768px #767676,
    788px 1072px #767676, 1533px 515px #767676, 733px 1002px #767676,
    1613px 1120px #767676, 1999px 1492px #767676, 1249px 7px #767676,
    815px 1848px #767676, 593px 184px #767676, 1896px 399px #767676,
    1815px 449px #767676, 645px 313px #767676, 1256px 67px #767676,
    574px 1314px #767676, 169px 1067px #767676, 685px 750px #767676,
    1633px 1298px #767676, 1402px 177px #767676, 1468px 1395px #767676,
    1576px 617px #767676, 115px 1352px #767676, 1121px 1800px #767676,
    890px 1244px #767676, 22px 1116px #767676, 87px 37px #767676,
    439px 1947px #767676, 1646px 606px #767676, 1136px 1837px #767676,
    586px 1838px #767676, 1711px 1751px #767676, 655px 1174px #767676,
    1124px 1235px #767676, 183px 169px #767676, 206px 1423px #767676,
    774px 1010px #767676, 563px 290px #767676, 59px 1055px #767676,
    797px 923px #767676, 292px 90px #767676, 1144px 2px #767676,
    1901px 1049px #767676, 477px 1073px #767676, 831px 102px #767676,
    351px 1261px #767676, 59px 835px #767676, 1771px 646px #767676,
    1890px 584px #767676, 341px 1301px #767676, 1390px 278px #767676,
    1570px 971px #767676, 68px 1100px #767676, 1060px 504px #767676,
    1104px 370px #767676, 515px 1285px #767676, 887px 1702px #767676,
    971px 1885px #767676, 1265px 1262px #767676, 72px 1831px #767676,
    1695px 62px #767676, 361px 751px #767676, 26px 104px #767676,
    527px 404px #767676, 458px 143px #767676, 1511px 768px #767676,
    662px 654px #767676, 311px 1520px #767676, 90px 851px #767676,
    501px 871px #767676, 30px 293px #767676, 1408px 275px #767676,
    1758px 753px #767676, 960px 358px #767676, 505px 1681px #767676,
    1494px 363px #767676, 763px 626px #767676, 1796px 1538px #767676,
    737px 93px #767676, 79px 1098px #767676, 1450px 120px #767676,
    1560px 690px #767676, 262px 1586px #767676, 950px 856px #767676,
    15px 1394px #767676, 305px 923px #767676, 1165px 915px #767676,
    595px 1594px #767676, 637px 629px #767676, 1214px 809px #767676,
    1460px 1653px #767676, 1959px 666px #767676, 1046px 685px #767676,
    1610px 1587px #767676, 1522px 1540px #767676, 902px 778px #767676,
    871px 951px #767676, 1017px 786px #767676, 694px 1788px #767676,
    958px 1025px #767676, 831px 1316px #767676, 1677px 1445px #767676,
    1877px 22px #767676, 291px 1200px #767676, 1265px 989px #767676,
    689px 1281px #767676, 1290px 330px #767676, 1595px 1466px #767676,
    760px 1857px #767676, 1510px 1841px #767676, 867px 1860px #767676,
    1758px 997px #767676, 594px 1439px #767676, 1331px 1922px #767676,
    1718px 8px #767676, 605px 1885px #767676, 1242px 1744px #767676,
    1860px 963px #767676, 667px 239px #767676, 248px 150px #767676,
    1771px 897px #767676, 410px 476px #767676, 1806px 378px #767676,
    1177px 480px #767676, 306px 1218px #767676, 1711px 1987px #767676,
    438px 265px #767676, 1031px 1585px #767676, 910px 1389px #767676,
    1927px 146px #767676, 1097px 1555px #767676, 1856px 417px #767676,
    195px 923px #767676, 1373px 589px #767676, 762px 112px #767676,
    1020px 1387px #767676, 1531px 862px #767676, 1124px 1686px #767676,
    835px 755px #767676, 1241px 1289px #767676, 819px 133px #767676,
    609px 567px #767676, 5px 1403px #767676, 1219px 952px #767676,
    995px 796px #767676, 832px 1297px #767676, 1269px 1419px #767676,
    387px 89px #767676, 978px 1394px #767676, 170px 165px #767676,
    806px 64px #767676, 1719px 1246px #767676, 346px 206px #767676,
    478px 943px #767676, 18px 153px #767676, 1264px 744px #767676,
    1940px 18px #767676, 1494px 260px #767676, 814px 1615px #767676,
    665px 353px #767676, 908px 1139px #767676, 70px 1734px #767676,
    930px 1998px #767676, 1770px 489px #767676, 1429px 280px #767676,
    476px 1611px #767676, 1359px 524px #767676, 1058px 329px #767676,
    1073px 287px #767676, 590px 1096px #767676, 830px 1028px #767676,
    1425px 744px #767676, 893px 1796px #767676, 1792px 862px #767676,
    1631px 166px #767676, 1673px 622px #767676, 614px 475px #767676,
    515px 1381px #767676, 1991px 1541px #767676, 851px 1819px #767676,
    1317px 1773px #767676, 1942px 534px #767676, 1774px 164px #767676,
    1240px 1035px #767676, 1496px 375px #767676, 1960px 113px #767676,
    809px 1829px #767676, 1069px 1686px #767676, 910px 64px #767676,
    917px 1742px #767676, 908px 1514px #767676, 1875px 1169px #767676,
    1660px 1860px #767676, 1933px 1361px #767676, 1659px 56px #767676,
    1464px 1733px #767676, 1288px 324px #767676, 1558px 174px #767676,
    424px 256px #767676, 652px 1392px #767676, 1381px 1658px #767676,
    76px 1793px #767676, 306px 1180px #767676, 1934px 1124px #767676,
    763px 216px #767676, 1422px 251px #767676, 1527px 2px #767676,
    1155px 267px #767676, 447px 606px #767676, 740px 1280px #767676,
    1274px 442px #767676, 1410px 1923px #767676, 1837px 600px #767676,
    1532px 1595px #767676, 78px 941px #767676, 573px 1486px #767676,
    1614px 1123px #767676, 204px 1733px #767676, 1689px 1612px #767676,
    1999px 1480px #767676, 1427px 495px #767676, 341px 248px #767676,
    1718px 428px #767676, 62px 1657px #767676, 217px 1157px #767676,
    430px 409px #767676, 565px 1544px #767676, 1935px 1776px #767676,
    1171px 986px #767676, 788px 199px #767676, 645px 1845px #767676,
    490px 1385px #767676, 965px 42px #767676, 1703px 974px #767676,
    220px 583px #767676, 134px 631px #767676, 1014px 1626px #767676,
    1100px 1392px #767676, 1903px 1869px #767676, 1255px 1483px #767676,
    1308px 830px #767676, 733px 999px #767676, 81px 968px #767676,
    1486px 863px #767676, 218px 703px #767676, 1766px 689px #767676,
    1839px 1232px #767676, 1685px 275px #767676, 1861px 184px #767676,
    1613px 1780px #767676, 1909px 1243px #767676, 87px 179px #767676,
    1718px 1218px #767676, 62px 434px #767676, 1031px 1178px #767676,
    19px 1594px #767676, 865px 982px #767676, 1268px 1617px #767676,
    1544px 1795px #767676, 1353px 1402px #767676, 1340px 461px #767676,
    1321px 1236px #767676, 1124px 767px #767676, 304px 1946px #767676,
    1948px 354px #767676, 1163px 1548px #767676, 927px 814px #767676,
    991px 1378px #767676, 221px 281px #767676, 1603px 1816px #767676,
    596px 1180px #767676, 1535px 1924px #767676, 1182px 252px #767676,
    1395px 488px #767676, 324px 1066px #767676, 1586px 702px #767676,
    180px 76px #767676, 1201px 519px #767676, 293px 195px #767676,
    1179px 1587px #767676, 772px 627px #767676, 1290px 1335px #767676,
    1847px 1674px #767676, 1748px 785px #767676, 1696px 81px #767676,
    987px 591px #767676, 668px 516px #767676, 863px 1802px #767676,
    940px 1867px #767676, 1381px 811px #767676, 305px 1758px #767676,
    1288px 20px #767676, 625px 1141px #767676, 1230px 54px #767676,
    624px 348px #767676, 859px 1703px #767676, 644px 733px #767676,
    1116px 957px #767676, 646px 1597px #767676, 760px 1965px #767676,
    1901px 1672px #767676, 1273px 709px #767676, 53px 637px #767676,
    688px 197px #767676, 1110px 1988px #767676, 642px 28px #767676,
    1521px 627px #767676, 509px 1900px #767676, 568px 411px #767676,
    319px 1069px #767676, 80px 1973px #767676, 580px 262px #767676,
    795px 1498px #767676, 1887px 550px #767676, 1343px 760px #767676,
    1690px 920px #767676, 773px 395px #767676, 1877px 603px #767676,
    322px 1642px #767676, 1784px 1675px #767676, 64px 1246px #767676,
    734px 1690px #767676, 998px 595px #767676, 657px 1126px #767676,
    1269px 408px #767676, 182px 431px #767676, 127px 718px #767676,
    145px 274px #767676, 43px 209px #767676, 1514px 1487px #767676,
    1354px 1254px #767676, 1026px 563px #767676, 1180px 1833px #767676,
    50px 1611px #767676, 815px 182px #767676, 581px 1617px #767676,
    1702px 342px #767676, 734px 750px #767676, 40px 1080px #767676,
    1042px 1539px #767676, 425px 265px #767676, 105px 421px #767676,
    993px 1140px #767676, 527px 1622px #767676, 1588px 223px #767676,
    1114px 1366px #767676, 1407px 1089px #767676, 1284px 782px #767676,
    253px 571px #767676, 1233px 85px #767676, 178px 259px #767676,
    1832px 1203px #767676, 1690px 878px #767676, 255px 99px #767676,
    1206px 1738px #767676, 1389px 834px #767676, 1828px 375px #767676,
    1134px 1713px #767676, 385px 219px #767676, 1825px 1542px #767676,
    70px 993px #767676, 1266px 770px #767676, 92px 176px #767676,
    69px 919px #767676, 1147px 241px #767676, 1713px 1696px #767676,
    789px 53px #767676, 225px 801px #767676, 1551px 66px #767676,
    1123px 1259px #767676, 308px 1492px #767676, 1453px 1327px #767676,
    535px 1564px #767676, 217px 1064px #767676, 473px 1356px #767676,
    1156px 1693px #767676, 7px 1680px #767676, 1163px 1543px #767676,
    1878px 321px #767676, 1815px 828px #767676, 1429px 1115px #767676,
    1800px 897px #767676, 932px 510px #767676, 827px 1387px #767676,
    1846px 298px #767676, 1272px 365px #767676, 680px 236px #767676,
    749px 851px #767676, 1345px 658px #767676, 536px 1081px #767676,
    588px 1567px #767676, 542px 64px #767676, 1639px 1948px #767676,
    1607px 1376px #767676, 48px 1433px #767676, 305px 681px #767676,
    1762px 741px #767676, 349px 1730px #767676, 1547px 931px #767676,
    1653px 400px #767676, 517px 84px #767676, 757px 1291px #767676,
    392px 1419px #767676, 222px 1156px #767676, 1632px 1564px #767676,
    1340px 513px #767676, 191px 452px #767676, 897px 5px #767676,
    1239px 1110px #767676, 76px 1541px #767676, 614px 365px #767676,
    485px 1597px #767676, 1116px 1426px #767676, 1544px 752px #767676,
    1582px 67px #767676, 402px 626px #767676, 319px 1948px #767676,
    1082px 429px #767676, 955px 1901px #767676, 690px 1272px #767676,
    479px 1574px #767676, 648px 353px #767676, 23px 544px #767676,
    1405px 233px #767676, 370px 1319px #767676, 846px 573px #767676,
    1482px 801px #767676, 1965px 1806px #767676, 1253px 1324px #767676,
    442px 1255px #767676, 532px 1478px #767676, 14px 1403px #767676,
    605px 1620px #767676, 785px 948px #767676, 1718px 1659px #767676,
    235px 1565px #767676, 135px 643px #767676, 1709px 1565px #767676,
    147px 1542px #767676, 174px 1812px #767676, 165px 1312px #767676,
    1510px 427px #767676, 1502px 837px #767676, 730px 1620px #767676,
    1118px 806px #767676, 196px 1385px #767676, 87px 535px #767676,
    122px 542px #767676, 1786px 412px #767676, 229px 1720px #767676,
    1031px 166px #767676, 827px 991px #767676, 146px 1124px #767676,
    1506px 515px #767676, 374px 727px #767676, 1179px 99px #767676,
    1564px 824px #767676, 327px 740px #767676, 766px 1145px #767676,
    911px 668px #767676, 993px 150px #767676, 1475px 1994px #767676,
    280px 940px #767676, 1832px 338px #767676, 221px 1836px #767676,
    123px 1073px #767676, 1220px 514px #767676, 1497px 1028px #767676,
    965px 587px #767676, 424px 532px #767676, 1022px 314px #767676,
    1762px 262px #767676, 11px 1914px #767676, 436px 1489px #767676,
    1539px 758px #767676, 685px 1611px #767676, 193px 281px #767676,
    93px 1258px #767676, 872px 1113px #767676, 1770px 1014px #767676,
    840px 1781px #767676, 1211px 1788px #767676, 822px 688px #767676,
    1578px 495px #767676, 787px 1734px #767676, 1896px 1056px #767676,
    504px 1782px #767676, 1098px 1077px #767676, 1536px 229px #767676,
    62px 1139px #767676, 208px 818px #767676, 542px 1587px #767676,
    1142px 161px #767676, 1113px 1697px #767676, 613px 1572px #767676,
    1925px 952px #767676, 623px 940px #767676, 473px 1568px #767676,
    1442px 1025px #767676, 1681px 1863px #767676, 102px 799px #767676,
    1718px 68px #767676, 415px 1261px #767676, 1780px 572px #767676,
    1361px 1268px #767676, 1979px 302px #767676, 1439px 720px #767676,
    1608px 544px #767676, 1192px 517px #767676, 108px 1168px #767676,
    968px 1279px #767676, 1052px 875px #767676, 1657px 1468px #767676,
    1378px 508px #767676, 868px 912px #767676, 1291px 1179px #767676,
    1859px 243px #767676, 1127px 1201px #767676, 1141px 857px #767676,
    847px 1066px #767676, 1476px 1088px #767676, 1393px 1979px #767676,
    1806px 1458px #767676, 1521px 99px #767676, 1906px 1285px #767676,
    802px 1267px #767676, 1419px 1518px #767676, 1761px 1648px #767676,
    458px 1251px #767676, 173px 110px #767676, 1421px 307px #767676,
    1828px 643px #767676, 222px 67px #767676, 985px 755px #767676,
    1906px 143px #767676, 1659px 859px #767676, 1349px 222px #767676,
    883px 976px #767676, 244px 711px #767676, 1271px 520px #767676,
    992px 604px #767676, 1672px 287px #767676, 1685px 1254px #767676,
    99px 1600px #767676, 387px 847px #767676, 737px 439px #767676,
    321px 1140px #767676, 837px 1527px #767676, 1174px 73px #767676,
    509px 248px #767676, 952px 103px #767676, 1559px 1462px #767676,
    1907px 1239px #767676, 1898px 1402px #767676, 1123px 305px #767676,
    805px 670px #767676, 1888px 1275px #767676, 1684px 270px #767676,
    744px 112px #767676, 409px 1967px #767676, 1072px 1158px #767676,
    17px 472px #767676, 1307px 390px #767676, 1407px 953px #767676,
    155px 748px #767676, 1039px 1288px #767676, 215px 1484px #767676,
    1837px 1565px #767676, 96px 1657px #767676, 274px 637px #767676,
    1155px 48px #767676, 1000px 1894px #767676, 809px 285px #767676,
    440px 706px #767676, 1926px 435px #767676, 1105px 177px #767676,
    1143px 1482px #767676, 122px 584px #767676, 997px 1753px #767676,
    1454px 134px #767676, 507px 99px #767676, 671px 1198px #767676,
    374px 422px #767676, 1589px 835px #767676, 74px 909px #767676,
    862px 1674px #767676, 892px 1112px #767676, 208px 1610px #767676,
    776px 255px #767676, 1138px 1453px #767676, 359px 1528px #767676,
    1985px 868px #767676, 802px 1409px #767676, 1224px 856px #767676,
    636px 691px #767676, 1402px 689px #767676, 935px 627px #767676,
    1076px 848px #767676, 1164px 1725px #767676, 876px 485px #767676,
    437px 30px #767676, 909px 897px #767676, 145px 1970px #767676,
    1458px 1996px #767676, 961px 1595px #767676, 144px 382px #767676,
    1026px 1350px #767676, 1616px 1412px #767676, 1949px 26px #767676,
    1861px 23px #767676, 1052px 1663px #767676, 736px 1767px #767676,
    1636px 196px #767676, 1500px 1973px #767676, 698px 1383px #767676,
    1380px 1449px #767676, 1439px 1045px #767676, 1900px 1247px #767676,
    1468px 1349px #767676, 330px 1838px #767676, 1394px 1480px #767676,
    1435px 446px #767676, 1751px 16px #767676, 1137px 849px #767676,
    1101px 744px #767676, 552px 1790px #767676, 1071px 1549px #767676,
    999px 436px #767676, 1257px 208px #767676, 772px 1697px #767676,
    79px 1723px #767676, 452px 1772px #767676, 1505px 1361px #767676,
    1953px 1945px #767676, 850px 1654px #767676, 422px 1233px #767676,
    1913px 1130px #767676, 817px 820px #767676, 1174px 1096px #767676,
    877px 1180px #767676, 1355px 1775px #767676, 718px 788px #767676,
    709px 636px #767676, 20px 291px #767676, 1558px 425px #767676,
    1649px 493px #767676, 405px 1190px #767676, 1880px 941px #767676,
    481px 656px #767676, 1060px 1697px #767676, 1910px 1121px #767676,
    1017px 491px #767676, 243px 809px #767676, 1117px 1980px #767676,
    352px 1895px #767676, 1503px 1500px #767676, 496px 830px #767676,
    93px 1008px #767676, 1056px 1675px #767676, 541px 1944px #767676,
    306px 554px #767676, 1687px 1682px #767676, 502px 1654px #767676,
    222px 1913px #767676, 765px 1071px #767676, 900px 984px #767676,
    275px 1731px #767676, 1943px 517px #767676, 152px 234px #767676,
    1753px 1274px #767676, 1832px 782px #767676, 212px 917px #767676,
    1557px 432px #767676, 433px 1772px #767676, 713px 1044px #767676,
    594px 1981px #767676;
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 321px 799px #767676, 865px 1208px #767676, 1682px 92px #767676,
    1751px 1169px #767676, 1939px 481px #767676, 1458px 1660px #767676,
    582px 295px #767676, 844px 1625px #767676, 447px 1573px #767676,
    1101px 762px #767676, 1945px 1592px #767676, 1871px 1298px #767676,
    1478px 1672px #767676, 1683px 787px #767676, 1304px 1381px #767676,
    583px 1047px #767676, 294px 538px #767676, 897px 485px #767676,
    320px 715px #767676, 1972px 370px #767676, 1375px 1614px #767676,
    717px 1884px #767676, 183px 551px #767676, 371px 1611px #767676,
    24px 1238px #767676, 1237px 1486px #767676, 622px 765px #767676,
    225px 490px #767676, 867px 1136px #767676, 1634px 90px #767676,
    1967px 468px #767676, 145px 1384px #767676, 1234px 1492px #767676,
    457px 1190px #767676, 625px 961px #767676, 351px 1934px #767676,
    756px 1226px #767676, 1498px 1027px #767676, 1658px 1616px #767676,
    1016px 1681px #767676, 1966px 1896px #767676, 1951px 696px #767676,
    943px 1007px #767676, 1347px 920px #767676, 27px 1928px #767676,
    289px 1348px #767676, 1315px 706px #767676, 1638px 141px #767676,
    352px 1398px #767676, 2000px 583px #767676, 577px 1975px #767676,
    1897px 1238px #767676, 1018px 1753px #767676, 135px 1619px #767676,
    487px 47px #767676, 1703px 1112px #767676, 677px 716px #767676,
    219px 350px #767676, 1825px 651px #767676, 1075px 1332px #767676,
    540px 567px #767676, 386px 1746px #767676, 41px 1637px #767676,
    631px 1369px #767676, 1722px 1055px #767676, 1913px 1051px #767676,
    1447px 1371px #767676, 704px 328px #767676, 31px 661px #767676,
    1647px 1189px #767676, 968px 514px #767676, 1474px 152px #767676,
    172px 1746px #767676, 1465px 1956px #767676, 673px 512px #767676,
    1482px 392px #767676, 776px 661px #767676, 150px 374px #767676,
    736px 1069px #767676, 789px 1683px #767676, 1762px 868px #767676,
    1427px 1927px #767676, 1608px 1269px #767676, 1505px 996px #767676,
    1112px 601px #767676, 1683px 1559px #767676, 47px 860px #767676,
    706px 911px #767676, 595px 520px #767676, 1446px 1765px #767676,
    332px 1779px #767676, 1705px 1880px #767676, 140px 395px #767676,
    56px 440px #767676, 143px 751px #767676, 672px 1508px #767676,
    1690px 1472px #767676, 1550px 1789px #767676, 1322px 1314px #767676,
    269px 1605px #767676, 1752px 830px #767676, 1742px 1683px #767676,
    1134px 765px #767676, 537px 756px #767676, 581px 877px #767676,
    1170px 1894px #767676, 1723px 550px #767676, 288px 326px #767676,
    1348px 1984px #767676, 376px 316px #767676, 737px 305px #767676,
    675px 741px #767676, 1017px 1444px #767676, 415px 1318px #767676,
    649px 1357px #767676, 1912px 521px #767676, 726px 194px #767676,
    1496px 190px #767676, 1698px 68px #767676, 1772px 10px #767676,
    1026px 360px #767676, 1442px 1888px #767676, 253px 724px #767676,
    1548px 374px #767676, 10px 1234px #767676, 912px 1611px #767676,
    1405px 323px #767676, 1396px 1324px #767676, 45px 1064px #767676,
    297px 1437px #767676, 1697px 265px #767676, 1002px 1468px #767676,
    162px 677px #767676, 1899px 1112px #767676, 1410px 1501px #767676,
    1853px 907px #767676, 550px 748px #767676, 1356px 696px #767676,
    391px 818px #767676, 741px 1493px #767676, 1154px 1514px #767676,
    48px 1041px #767676, 72px 1365px #767676, 1731px 424px #767676,
    1564px 24px #767676, 1309px 1680px #767676, 1281px 1055px #767676,
    376px 1665px #767676, 364px 1089px #767676, 1167px 1149px #767676,
    62px 249px #767676, 693px 805px #767676, 491px 1267px #767676,
    756px 863px #767676, 661px 1087px #767676, 120px 1677px #767676,
    36px 341px #767676, 743px 808px #767676, 596px 1807px #767676,
    1776px 607px #767676, 1058px 1297px #767676, 1707px 937px #767676,
    261px 288px #767676, 1867px 1906px #767676, 1302px 1671px #767676,
    330px 1324px #767676, 1037px 363px #767676, 1769px 603px #767676,
    642px 641px #767676, 1933px 1215px #767676, 173px 579px #767676,
    225px 1806px #767676, 1991px 348px #767676, 1942px 820px #767676,
    317px 848px #767676, 860px 1826px #767676, 1093px 46px #767676,
    1569px 1576px #767676, 24px 853px #767676, 1453px 926px #767676,
    290px 1292px #767676, 1935px 60px #767676, 1210px 1211px #767676,
    1024px 1869px #767676, 793px 977px #767676, 1335px 1310px #767676,
    1707px 1139px #767676, 1459px 1651px #767676, 775px 1538px #767676,
    948px 73px #767676, 436px 269px #767676, 1944px 1900px #767676,
    1201px 1056px #767676, 709px 1871px #767676, 1357px 465px #767676,
    1738px 1494px #767676, 1288px 154px #767676, 47px 1236px #767676,
    1294px 1811px #767676, 446px 351px #767676;
  animation: starsAnimation 100s linear infinite;
}

.stars > .medium:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 321px 799px #767676, 865px 1208px #767676, 1682px 92px #767676,
    1751px 1169px #767676, 1939px 481px #767676, 1458px 1660px #767676,
    582px 295px #767676, 844px 1625px #767676, 447px 1573px #767676,
    1101px 762px #767676, 1945px 1592px #767676, 1871px 1298px #767676,
    1478px 1672px #767676, 1683px 787px #767676, 1304px 1381px #767676,
    583px 1047px #767676, 294px 538px #767676, 897px 485px #767676,
    320px 715px #767676, 1972px 370px #767676, 1375px 1614px #767676,
    717px 1884px #767676, 183px 551px #767676, 371px 1611px #767676,
    24px 1238px #767676, 1237px 1486px #767676, 622px 765px #767676,
    225px 490px #767676, 867px 1136px #767676, 1634px 90px #767676,
    1967px 468px #767676, 145px 1384px #767676, 1234px 1492px #767676,
    457px 1190px #767676, 625px 961px #767676, 351px 1934px #767676,
    756px 1226px #767676, 1498px 1027px #767676, 1658px 1616px #767676,
    1016px 1681px #767676, 1966px 1896px #767676, 1951px 696px #767676,
    943px 1007px #767676, 1347px 920px #767676, 27px 1928px #767676,
    289px 1348px #767676, 1315px 706px #767676, 1638px 141px #767676,
    352px 1398px #767676, 2000px 583px #767676, 577px 1975px #767676,
    1897px 1238px #767676, 1018px 1753px #767676, 135px 1619px #767676,
    487px 47px #767676, 1703px 1112px #767676, 677px 716px #767676,
    219px 350px #767676, 1825px 651px #767676, 1075px 1332px #767676,
    540px 567px #767676, 386px 1746px #767676, 41px 1637px #767676,
    631px 1369px #767676, 1722px 1055px #767676, 1913px 1051px #767676,
    1447px 1371px #767676, 704px 328px #767676, 31px 661px #767676,
    1647px 1189px #767676, 968px 514px #767676, 1474px 152px #767676,
    172px 1746px #767676, 1465px 1956px #767676, 673px 512px #767676,
    1482px 392px #767676, 776px 661px #767676, 150px 374px #767676,
    736px 1069px #767676, 789px 1683px #767676, 1762px 868px #767676,
    1427px 1927px #767676, 1608px 1269px #767676, 1505px 996px #767676,
    1112px 601px #767676, 1683px 1559px #767676, 47px 860px #767676,
    706px 911px #767676, 595px 520px #767676, 1446px 1765px #767676,
    332px 1779px #767676, 1705px 1880px #767676, 140px 395px #767676,
    56px 440px #767676, 143px 751px #767676, 672px 1508px #767676,
    1690px 1472px #767676, 1550px 1789px #767676, 1322px 1314px #767676,
    269px 1605px #767676, 1752px 830px #767676, 1742px 1683px #767676,
    1134px 765px #767676, 537px 756px #767676, 581px 877px #767676,
    1170px 1894px #767676, 1723px 550px #767676, 288px 326px #767676,
    1348px 1984px #767676, 376px 316px #767676, 737px 305px #767676,
    675px 741px #767676, 1017px 1444px #767676, 415px 1318px #767676,
    649px 1357px #767676, 1912px 521px #767676, 726px 194px #767676,
    1496px 190px #767676, 1698px 68px #767676, 1772px 10px #767676,
    1026px 360px #767676, 1442px 1888px #767676, 253px 724px #767676,
    1548px 374px #767676, 10px 1234px #767676, 912px 1611px #767676,
    1405px 323px #767676, 1396px 1324px #767676, 45px 1064px #767676,
    297px 1437px #767676, 1697px 265px #767676, 1002px 1468px #767676,
    162px 677px #767676, 1899px 1112px #767676, 1410px 1501px #767676,
    1853px 907px #767676, 550px 748px #767676, 1356px 696px #767676,
    391px 818px #767676, 741px 1493px #767676, 1154px 1514px #767676,
    48px 1041px #767676, 72px 1365px #767676, 1731px 424px #767676,
    1564px 24px #767676, 1309px 1680px #767676, 1281px 1055px #767676,
    376px 1665px #767676, 364px 1089px #767676, 1167px 1149px #767676,
    62px 249px #767676, 693px 805px #767676, 491px 1267px #767676,
    756px 863px #767676, 661px 1087px #767676, 120px 1677px #767676,
    36px 341px #767676, 743px 808px #767676, 596px 1807px #767676,
    1776px 607px #767676, 1058px 1297px #767676, 1707px 937px #767676,
    261px 288px #767676, 1867px 1906px #767676, 1302px 1671px #767676,
    330px 1324px #767676, 1037px 363px #767676, 1769px 603px #767676,
    642px 641px #767676, 1933px 1215px #767676, 173px 579px #767676,
    225px 1806px #767676, 1991px 348px #767676, 1942px 820px #767676,
    317px 848px #767676, 860px 1826px #767676, 1093px 46px #767676,
    1569px 1576px #767676, 24px 853px #767676, 1453px 926px #767676,
    290px 1292px #767676, 1935px 60px #767676, 1210px 1211px #767676,
    1024px 1869px #767676, 793px 977px #767676, 1335px 1310px #767676,
    1707px 1139px #767676, 1459px 1651px #767676, 775px 1538px #767676,
    948px 73px #767676, 436px 269px #767676, 1944px 1900px #767676,
    1201px 1056px #767676, 709px 1871px #767676, 1357px 465px #767676,
    1738px 1494px #767676, 1288px 154px #767676, 47px 1236px #767676,
    1294px 1811px #767676, 446px 351px #767676;
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 289px 1676px #767676, 529px 673px #767676, 1254px 624px #767676,
    1288px 1048px #767676, 1105px 8px #767676, 234px 1444px #767676,
    1863px 1459px #767676, 763px 1789px #767676, 800px 151px #767676,
    445px 1720px #767676, 839px 213px #767676, 1923px 1868px #767676,
    379px 636px #767676, 674px 1607px #767676, 92px 572px #767676,
    1542px 1246px #767676, 423px 1074px #767676, 199px 1878px #767676,
    839px 1180px #767676, 1286px 770px #767676, 1671px 343px #767676,
    176px 925px #767676, 1354px 1779px #767676, 243px 1466px #767676,
    1541px 754px #767676, 1386px 682px #767676, 313px 612px #767676,
    1172px 1854px #767676, 381px 1459px #767676, 1918px 1467px #767676,
    1930px 146px #767676, 803px 1878px #767676, 1506px 747px #767676,
    1626px 937px #767676, 625px 227px #767676, 1273px 1301px #767676,
    1687px 351px #767676, 1118px 1370px #767676, 1696px 148px #767676,
    361px 735px #767676, 772px 534px #767676, 957px 308px #767676,
    1724px 1905px #767676, 994px 1858px #767676, 1727px 647px #767676,
    313px 1847px #767676, 1522px 1623px #767676, 1964px 1013px #767676,
    892px 243px #767676, 65px 21px #767676, 772px 486px #767676,
    161px 1631px #767676, 615px 1265px #767676, 1339px 1689px #767676,
    1431px 1035px #767676, 1294px 1185px #767676, 1637px 778px #767676,
    1709px 1913px #767676, 1431px 525px #767676, 704px 124px #767676,
    1813px 1830px #767676, 735px 1201px #767676, 966px 1515px #767676,
    172px 1266px #767676, 1145px 483px #767676, 1117px 1393px #767676,
    475px 720px #767676, 244px 1756px #767676, 1504px 1366px #767676,
    1187px 1443px #767676, 1886px 243px #767676, 1918px 1255px #767676,
    1119px 58px #767676, 1639px 1953px #767676, 580px 837px #767676,
    413px 306px #767676, 793px 15px #767676, 962px 1784px #767676,
    1841px 173px #767676, 753px 148px #767676, 173px 1539px #767676,
    30px 630px #767676, 1716px 1939px #767676, 991px 421px #767676,
    268px 1075px #767676, 1932px 1352px #767676, 907px 1234px #767676,
    1740px 186px #767676, 1068px 232px #767676, 1888px 1823px #767676,
    1730px 591px #767676, 850px 1921px #767676, 123px 1283px #767676,
    795px 728px #767676, 151px 625px #767676, 1381px 1859px #767676,
    408px 657px #767676, 1466px 1525px #767676, 525px 196px #767676,
    1091px 1739px #767676;
  border-radius: 100%;
  animation: starsAnimation 150s linear infinite;
}

.stars > .big:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 289px 1676px #767676, 529px 673px #767676, 1254px 624px #767676,
    1288px 1048px #767676, 1105px 8px #767676, 234px 1444px #767676,
    1863px 1459px #767676, 763px 1789px #767676, 800px 151px #767676,
    445px 1720px #767676, 839px 213px #767676, 1923px 1868px #767676,
    379px 636px #767676, 674px 1607px #767676, 92px 572px #767676,
    1542px 1246px #767676, 423px 1074px #767676, 199px 1878px #767676,
    839px 1180px #767676, 1286px 770px #767676, 1671px 343px #767676,
    176px 925px #767676, 1354px 1779px #767676, 243px 1466px #767676,
    1541px 754px #767676, 1386px 682px #767676, 313px 612px #767676,
    1172px 1854px #767676, 381px 1459px #767676, 1918px 1467px #767676,
    1930px 146px #767676, 803px 1878px #767676, 1506px 747px #767676,
    1626px 937px #767676, 625px 227px #767676, 1273px 1301px #767676,
    1687px 351px #767676, 1118px 1370px #767676, 1696px 148px #767676,
    361px 735px #767676, 772px 534px #767676, 957px 308px #767676,
    1724px 1905px #767676, 994px 1858px #767676, 1727px 647px #767676,
    313px 1847px #767676, 1522px 1623px #767676, 1964px 1013px #767676,
    892px 243px #767676, 65px 21px #767676, 772px 486px #767676,
    161px 1631px #767676, 615px 1265px #767676, 1339px 1689px #767676,
    1431px 1035px #767676, 1294px 1185px #767676, 1637px 778px #767676,
    1709px 1913px #767676, 1431px 525px #767676, 704px 124px #767676,
    1813px 1830px #767676, 735px 1201px #767676, 966px 1515px #767676,
    172px 1266px #767676, 1145px 483px #767676, 1117px 1393px #767676,
    475px 720px #767676, 244px 1756px #767676, 1504px 1366px #767676,
    1187px 1443px #767676, 1886px 243px #767676, 1918px 1255px #767676,
    1119px 58px #767676, 1639px 1953px #767676, 580px 837px #767676,
    413px 306px #767676, 793px 15px #767676, 962px 1784px #767676,
    1841px 173px #767676, 753px 148px #767676, 173px 1539px #767676,
    30px 630px #767676, 1716px 1939px #767676, 991px 421px #767676,
    268px 1075px #767676, 1932px 1352px #767676, 907px 1234px #767676,
    1740px 186px #767676, 1068px 232px #767676, 1888px 1823px #767676,
    1730px 591px #767676, 850px 1921px #767676, 123px 1283px #767676,
    795px 728px #767676, 151px 625px #767676, 1381px 1859px #767676,
    408px 657px #767676, 1466px 1525px #767676, 525px 196px #767676,
    1091px 1739px #767676;
  border-radius: 100%;
}

@keyframes starsAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
