.cell {
  position: relative;
  margin: 1px;
  border: none;
  background: rgba(42, 50, 113, 0.28);
  border-radius: 10%;
  box-sizing: border-box;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.easy-cell {
  flex-basis: calc(12.5% - 2px);
}

.medium-cell {
  flex-basis: calc(6.25% - 2px);
}

.hard-cell {
  flex-basis: calc(3.33% - 2px);
  font-size: 0.8rem;
}

.cell::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.cell-content {
  position: absolute;
  color: #22a6d6;
  user-select: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed {
  background-color: rgba(200, 200, 222, 0.2);
}

.hidden:hover {
  border: 1px solid #22a6d6;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.fa-bomb {
  color: coral;
}

.fa-flag {
  color: #b767e6;
}
