.header {
  z-index: 100;
  margin-top: 1em;
}

h1 {
  font-size: 3rem;
}

.btns-difficulty button {
  z-index: 100;
  margin: 10px;
  background-color: rgba(67, 76, 145, 0.28);
  padding: 10px;
  border-radius: 10px;
  color: #22a6d6;
}

.btns-difficulty button:hover {
  background-color: rgba(67, 76, 145, 0.5);
}

.btn-reset {
  border-radius: 50% !important;
}

.timer {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.timer p {
  margin-bottom: 5px;
}

.header-mine {
  color: #c97874 !important;
}
